.MainPage {
    text-align: center;
}

.MainPage-logo {
    height: 40vmin;
}

.MainPage-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.MainPage-link {
    color: #09d3ac;
}
.ye{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);

    width: 40%;
    height: 50%;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
